<% include header.html %>
<style>
    form > * {
        margin-top: 10px;
    }
</style>
<div class='container'>
    <form method='post' enctype="multipart/form-data">
        <input name='title'
            class='form-control'
            placeholder='Title'
            autofocus>
        <textarea name='detail'
            class='form-control'
            placeholder='Detail'></textarea>
        <input type='file' name='photo'>
        <br>
        <button class='btn btn-primary'>Post</button>

    </form>
</div>


<% include footer.html %>